.logo {
  margin-left: 3rem;
  height: 3.25rem;
}

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    width: 90%;
    border: 0;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    margin-right: -3.25rem;
    transition: all 0.2s;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
        font-weight: 100;
        color: var(--color-grey-light-4);
    }
  }

  &__input:focus + &__button {
    outline: none;
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: 0;
    background-color: var(--color-grey-light-2);
    &:focus {
      outline: none;
    }
    // &:active {
    //     transform: translateY(5px);
    // }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

.user-nav {
  background-color: lightcyan;
  &__icon-box {
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
  }

  &__notification {
  }

  &__user {
    &-name {
    }
    &-photo {
      height: 3.75rem;
      border-radius: 50%;
    }
  }
}
